@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #fff;
}

.header {
  margin: auto -10px;
  padding: 10px 20px;
  box-shadow: 0 0 3px 0 rgb(114, 114, 114, 0.5);
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.header h3 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 2px;
  color: #666;
}

form {
  position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background-color: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128, 0.5);
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  resize: none;
  outline: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  font-size: 1.1rem;
  resize: none;
  outline: none;
}

form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background-color: #333;
  color: #fff;
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px black;
  padding-bottom: 0.25rem;
  cursor: pointer;
  outline: none;
}

.note {
  background-color: #fff;
  width: 350px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175, 0.5);
  padding: 1.5rem;
  margin: 1rem;
  float: left;
}

.note h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.note p {
  font-size: 1rem;
  margin-bottom: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.35;
}

.note button {
  position: relative;
  float: right;
  color: #777;
  font-weight: 700;
  text-decoration: underline;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.count {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  color: #666;
}
